[plugin]
prepend_previewers = [
  { name = "*.md", run = 'piper -- rich -j --left --panel=rounded --guides --line-numbers --force-terminal "$1"' },
]

append_previewers = [
  { name = "*/", run = "folder", sync = true },
  { mime = "*/xml", run = "code" },
  { mime = "*/javascript", run = "code" },
  { name = "*", run = "preview" },
]

prepend_fetchers = [
  { id = "git", name = "*", run = "git" },
  { id = "git", name = "*/", run = "git" },
  { id = "mactag", name = "*", run = "mactag" },
  { id = "mactag", name = "*/", run = "mactag" },
]

[mgr]
ratio = [1, 4, 4]
