palette = "default"

format = """
[╭](fg:separator)\
$directory\
$git_branch\
$git_status\
$git_metrics\
$rust\
$lua\
$python\
$line_break\
[╰ ](fg:separator)\
$character"""

command_timeout = 5000


[palettes.default]
icon       = "#161514"
background = "#3b4261"
directory  = "#7aa2f7"
separator  = "#3b4261"

[directory]
format = "[─](fg:separator)[](fg:directory)[􀈕  ](fg:icon bg:directory)[ $path](fg:directory bg:background)[ ](fg:background)"
truncation_length = 0

[directory.substitutions]
"Documents" = "􀉀 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "

[git_status]
format = '[($ahead_behind$stashed$modified$staged)](fg:directory)'
ahead = '􀄨 ${count} '
diverged = '${ahead_count} 􀙠  ${behind_count} '
behind = '􀄩 ${count} '
stashed = " 􀐚  ${count} "
modified = "  ${count} " 
staged = " 􀃜 ${count} "

[lua]
symbol = " "

[fill]
style = 'fg:separator'
symbol = "─"

[character]
success_symbol = "[λ](bold blue)"
error_symbol = "[λ](bold red)"
